{% extends 'base.html.twig' %}

{% block title %} Mes réservations ! {% endblock %}

{% block body %}

    <div class="container">
        <h1>Mes réservations !</h1>
        <div class="alert alert-info mt-3">
            <p>Retrouvez ci-dessous toutes vos réservations passés et à venir</p>
        </div>

        {% for reservation in app.user.reservations %}
            {% set an = reservation.annonce %}
            <div class="row mt-5">
                <div class="col-4">
                    <img src="{{ an.coverImage }}" alt="Image de l'annonce {{ an.title }}" class="img-fluid">
                    <div class="mt-3">
                        {% set comment = an.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <strong>Note donnée : </strong>{% include 'includes/rating.html.twig' with {'rating': comment.rating} %}
                        {% else %}
                            Vous n'avez pas encore donnée de note !
                            <a href="{{ path('show-reservation', {'id': reservation.id}) }}#comment">Donner mon avis !</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <h4>{{ an.title }}</h4>
                    <p>Réservation <strong>n°{{ reservation.id }}</strong>
                        <br>
                        Du {{ reservation.startDate | date('d/m/Y') }} au {{ reservation.endDate | date('d/m/Y') }} à <strong>{{ reservation.amount }} €</strong>
                    </p>
                    <a href="{{ path('show-reservation', {'id': reservation.id}) }}" class="btn btn-info">Plus d'informations</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}