{% extends 'admin/base.html.twig' %}

{% block title %}Edition de la réservation n°{{ reservation.id }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Edition de la réservation n°{{ reservation.id }}</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.startDate) }}
                {{ form_row(form.endDate) }}
                {{ form_row(form.comment) }}
            </div>
            <div class="col">
                {{ form_row(form.reserveur) }}
                {{ form_row(form.annonce) }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Enregistrer les modifications</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}