{% extends 'base.html.twig' %}

{% block title %} Réserver l'annonce {{ annonce.title }} !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réserver l'annonce : <em>{{ annonce.title }}</em></h1>
        <p>Vous êtes sur le point de réserver le bien du rhey <strong>{{ annonce.author.fullName }}</strong> 🔥</p>
        {{ form_start(form) }}
        <div class="alert alert-light">
            <h4>Commencez par nous dire les dates qui vous intéresses !</h4>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <h4 class="mt-2">Mon temps du séjour : <span id="amount">...</span> €</h4>
            <span id="days">0</span> nuit(s) à {{ annonce.price | number_format(2, ',', ' ') }}€ par nuit

            <h4 class="mt-3">Un petit commentaire ?</h4>
            {{ form_row(form.comment) }}
        </div>

        <button type="submit" class="btn btn-success">Je réserve !</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        // Script
        $(document).ready(function () {
            $('#reservation_startDate, #reservation_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in annonce.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });
            $('#reservation_startDate, #reservation_endDate').on('change', calculAmount);
        });

        function calculAmount() {
            // Récupération des valeurs des 2 date
            const startDate = new Date($('#reservation_startDate').val()
                .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')) // Regex ex: 12/03/1999

            const endDate = new Date($('#reservation_endDate').val()
                .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')) // Regex ex: 12/03/1999

            if (startDate && endDate && startDate < endDate) {
                const dayTime = 24 * 60 * 60 * 1000
                // Timestamp en ms
                const interval = endDate.getTime() - startDate.getTime()
                const days = interval / dayTime
                const amount = days * {{ annonce.price }}

                $('#days').text(days)
                $('#amount').text(amount.toLocaleString('fr-FR'))
            }
        }
    </script>
{% endblock %}
