{% extends 'base.html.twig' %}

{% block title %} Réserver l'annonce {{ annonce.title }} !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réserver l'annonce : <strong>{{ annonce.title }}</strong></h1>
        <p>Vous êtes sur le point de réserver le bien du rhey <strong>{{ annonce.author.fullName }}</strong> 🔥</p>
        {{ form_start(form) }}
        <div class="alert alert-light">
            <h2>Commencez par nous dire les dates qui vous intéresses !</h2>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
        </div>

        <h4>Mon temps du séjour : <span id="amount">...</span> €</h4>
        <span id="days">0</span> nuit(s) à {{ annonce.price }} € / nuit

        <h2>Un petit commentaire ?</h2>
        {{ form_row(form.comment) }}
        <button type="submit" class="btn btn-success">Je réserve !</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#reservation_startDate, #reservation_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisable: [
                    {% for day in annonce.notAvailableDays %}
                        "day.format('d/m/Y')",
                    {% endfor %}
                ],
                startDate: new Date()
            });
        })
    </script>

{% endblock %}
