{% set urlAnnonce = path('annonce', {'slug': annonce.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ annonce.rooms }} chambres, <strong>{{ annonce.price | number_format(2, ',', ' ') }}€ / nuit</strong> <br>
            {% if annonce.comments | length > 0 %}
               {% include 'includes/rating.html.twig' with {'rating': annonce.averageRatings} %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        <a href="{{ urlAnnonce }}"><img src="{{ annonce.coverImage }}" alt="img" style="height: 200px; width: 100%; display: block;"></a>
        <div class="card-body">
            <a href="{{ urlAnnonce }}"><h4 class="card-title">{{ annonce.title }}</h4></a>
            <p class="card-text">{{ annonce.introduction }}</p>
            <a href="{{ urlAnnonce }}" class="btn btn-primary">En savoir plus</a>

            {% if app.user and app.user == annonce.author %}
                <a href="{{ path('edit', {'slug': annonce.slug}) }}" class="btn btn-primary">Modifier</a>
            {% endif %}

        </div>
    </div>
</div>