{% extends 'base.html.twig' %}

{% form_theme form 'annonce/_form.html.twig' %}

{% block title %} Creation d'une annonce {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Créer une annonce !</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="alert alert-light">
                        <h2>Informations générales</h2>
                        <hr>
                        {{ form_row(form.title) }}
                        {{ form_row(form.slug) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.rooms) }}
                    </div>
                    <div class="alert alert-light">
                        <h2>Détails de l'annonce</h2>
                        <hr>
                        {{ form_row(form.introduction) }}
                        {{ form_row(form.content) }}
                    </div>
                </div>
                <div class="col">
                    <div class="alert alert-light">
                        <h2>Adresse de l'annonce</h2>
                        <hr>
                        {{ form_row(form.address) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.zipCode) }}
                        {{ form_row(form.lat) }}
                        {{ form_row(form.lng) }}
                    </div>
                    <div class="alert alert-light">
                        <h2>Image de l'annonce</h2>
                        <hr>
                        {{ form_row(form.coverImage) }}
                        {{ form_row(form.images) }}
                    </div>
                    <div class="alert alert-light clearfix">
                        <h2 class="alert alert-heading">Sauvegarder mon annonce</h2>
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-check mr-1"></i>Créer une annonce</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/annonce.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script>
        let inputAddress = document.querySelector('#annonce_address');

        if(inputAddress !== null) {
            let place = places({
                container: inputAddress
            });
            place.on('change', e => {
                document.querySelector('#annonce_city').value = e.suggestion.city;
                document.querySelector('#annonce_zipCode').value = e.suggestion.postcode;
                document.querySelector('#annonce_lat').value = e.suggestion.latlng.lat;
                document.querySelector('#annonce_lng').value = e.suggestion.latlng.lng;
            })
        }
    </script>
{% endblock %}
