<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-chart-line"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_annonces_index') }}"><i class="fas fa-hotel"></i> Annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_annonces_index') }}"><i class="fas fa-folder"></i> Réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_annonces_index') }}"><i class="fas fa-comments"></i> Commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_annonces_index') }}"><i class="fas fa-users"></i> Utilisateurs</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path('home') }}" target="_blank" class="nav-link"><i class="fas fa-eye"></i> Voir le site</a>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" id="account_dropdown_link" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullName }}">
                        {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account_dropdown_link">
                        <a href="{{ path('admin_logout') }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <p>{{ message | raw }}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}