{% extends 'base.html.twig' %}

{% block title %} Bienvenue ! {% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur Mybnb ! 🔥</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('annonces') }}" role="button">Voir nos annonces</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos locations stars</h2>

        <div class="row">
            {% for data in bestAnnonces %}
                {% include 'annonce/_annonce.html.twig' with {'annonce': data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2>

        <div class="row">
            {% for data in bestUsers %}
                {% set u = data.user %}
            <div class="col-md-6">
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ u.fullName }}</h4>
                        <hr>
                        <div class="card-text">
                            <img src="{{ u.picture }}" alt="Avatar de {{ u.picture }}" class="float-left mr-3">
                            <p>{{ data.user.introduction }}</p>
                            <a href="{{ path('user', {'slug': u.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
