{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5">Gestion des annonces</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre de l'annonce</th>
                    <th>Auteur</th>
                    <th class="text-center">Réservations</th>
                    <th class="text-center">Note/5</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.title }}</td>
                    <td>
                        <img src="{{ annonce.author.picture }}" alt="Avatar de {{ annonce.author.fullName }}" class="avatar avatar-micro mr-2">{{ annonce.author.fullName }}
                    </td>
                    <td class="text-center">{{ annonce.reservations | length }}</td>
                    <td class="text-center">{{ annonce.averageRatings | number_format(1, ',', ' ') }}</td>
                    <td>
                        <a href="{{ path('edit_admin_annonce', {'id': annonce.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('delete_admin_annonce', {'id': annonce.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('admin_annonces_index', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i%}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_annonces_index', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('admin_annonces_index', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
